[alias]
  br = branch
  co = checkout
  ci = commit
  st = status
  last = log -1 HEAD
  c = rev-parse --abbrev-ref HEAD

[user]
  name = levelone
  email = marc17seifert@gmail.com

[github]
  user = levelone

[core]
  excludesfile = /Users/marcseifert/.gitignore_global
